.mainContContact {
    /* background-color: rgb(178, 173, 184); */
    /* background-color: rgb(124, 93, 63); */
    background: linear-gradient(45deg, #666696, #574e4e);
    padding: 5px;
    text-align: center;
    color: white;
    width: 100vw;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    /* border: silver solid 2px; */
}

.formContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: serif;
    font-size: x-large;
    margin: 5px;
    padding: 0px;
    gap: 2px;

}

.input {
    border-radius: 4px;
    width: 100%;
    margin: 5px;
    padding: 18px;
    border: black solid 1px;
    background-color: rgb(235, 231, 231);
}

.button {
    background-color: rgb(95, 62, 13);
    border-radius: 20px;
    color: white;
    padding: 10px;
    font-size: large;
}

.button:hover {
    background-color: black;
}

@media screen and (max-width: 768px) {
    .mainContContact {
        font-size: small;
        padding: 2px;
    }
}